@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
body {
  font-family: 'Nunito', sans-serif;
  background-color: #3c3f51;
}
main {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
main > button {
  font: inherit;
  font-weight: bold;
  background-color: #2f97c1;
  font-size: 1.5rem;
  padding: 25px 30px;
  border: none;
  border-radius: 15px;
}
main > button:hover {
  background-color: #90e0ff;
}
input:focus {
  outline: none;
}

.dialog-box {
  background-color: whitesmoke;
  width: min(70vw, 600px);
  border-radius: 15px;
  padding: 35px 25px;
  text-align: center;
}
.header {
  margin-bottom: 30px;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}
#welcome #location-search {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: left;
  font-size: 1.5rem;
  gap: 5px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
#location-search label {
  margin-left: 15px;
}
#location-search input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid black;
}
#location-search button {
  font: inherit;
  padding: 15px 25px;
  margin-top: 15px;
  background-color: #2f97c1;
  border: none;
  font-weight: 700;
  color: white;
  border-radius: 10px;
}

#location-search button:hover,
#location-search button:focus {
  background-color: #1a5167;
}

#location-search button:disabled {
  background-color: rgb(136, 134, 134);
  color: rgb(75, 75, 75);
  font-weight: 400;
}

#location-search input.invalid {
  border-color: red;
}

#location-search input + .error-msg {
  margin-top: 5px;
  display: block;
  height: 25px;
}

#location-search input.invalid + .error-msg::before {
  color: red;
  content: '*Incorrect input';
  font-size: 1.3rem;
  font-weight: bold;
  font-style: italic;
}

#weather-details-box > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
#weather-details-box > div > h1:first-child {
  margin-bottom: 30px;
}

#weather-details-box img {
  height: 150px;
  width: 150px;
  padding: 15px;
  background-color: #27292b;
  border-radius: 30%;
  margin-bottom: 50px;
}
