@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(36, 72, 87);
  color: white;
}

nav {
  position: fixed;
  padding: 5px 0;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > input {
  font-size: 1.3rem;
  width: min(70%, 500px);
  padding: 5px 20px;
  border-radius: 25px;
  outline: none;
}

main {
  margin-top: 100px;
  user-select: none;
}

main > * {
}

#current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 15px;
  width: min(80vw, 600px);
  border-radius: 30px;
  padding: 35px 25px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}
#current-weather img {
  width: 128px;
}
#temperature-container {
  display: flex;
  align-items: center;
  gap: 35px;
}
#temperature-container h1 {
  font-size: 4rem;
  font-weight: 200;
}
#current-weather #weather-description {
  font-size: 2rem;
}

#current-weather #details {
  flex: 1;
  width: 90%;
  padding: 15px;
  border-radius: 30px;
}

#current-weather #details h3 {
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
  width: 70%;
}

#current-weather #details span {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#daily-weather,
#hourly-weather {
  padding: 25px;
  text-align: center;
}

#daily-weather > div#daily-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 25px;
}
#daily-weather > div#daily-container > div {
  width: 100px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  padding: 15px 10px;
}
#daily-weather > div#daily-container > div > img {
  width: 64px;
}
#daily-weather > div#daily-container > div > h2 {
  font-size: 1.2rem;
}
#daily-weather > div#daily-container > div:hover {
  border-color: whitesmoke;
}
#daily-weather > div#daily-container > div.selected {
  border-color: whitesmoke;
}
